<nav class="navbar">
  <div class="navigation-wrapper">
    <div class="navigation-inner">
      <div class="navigation">
        <!-- Logo -->
        <a href="pages/home.html" class="navigation__logo navigation__link">
          <img src="assets/images/logo2.png" alt="TCAM Solutions" />
        </a>

        <!-- Mobile Toggle -->
        <div class="navigation__mobile">
          <div class="navigation__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
          </div>
        </div>

        <!-- Desktop Menu -->
        <div class="navigation__menu" id="nav-menu">
          <ul class="navigation__list">
            <a href="#home" class="navigation__link" data-page="home">Home</a>

            <li class="navigation__item--dropdown">
              <a href="#aboutus" class="navigation__link" data-page="aboutus"
                >About Us</a
              >
              <ul class="navigation__dropdown">
                <li>
                  <a href="#" class="navigation__dropdown-link">Our Team</a>
                </li>
                <li>
                  <a href="#" class="navigation__dropdown-link">Our Mission</a>
                </li>
                <li>
                  <a href="#" class="navigation__dropdown-link">History</a>
                </li>
              </ul>
            </li>

            <li class="navigation__item--dropdown">
              <a href="#services" class="navigation__link" data-page="services">
                Services <i class="ri-arrow-down-s-line"></i>
              </a>
              <ul class="navigation__dropdown">
                <li>
                  <a href="#" class="navigation__dropdown-link">Consulting</a>
                </li>
                <li>
                  <a href="#" class="navigation__dropdown-link">Development</a>
                </li>
                <li>
                  <a href="#" class="navigation__dropdown-link">Support</a>
                </li>
              </ul>
            </li>

            <li class="navigation__item--dropdown">
              <a href="#clients" class="navigation__link" data-page="clients"
                >Clients</a
              >
              <ul class="navigation__dropdown">
                <li>
                  <a href="#" class="navigation__dropdown-link">Client</a>
                </li>
                <li>
                  <a href="#" class="navigation__dropdown-link">Partner</a>
                </li>
                <li>
                  <a
                    href="#career"
                    class="navigation__dropdown-link"
                    data-page="career"
                    >Careers</a
                  >
                </li>
              </ul>
            </li>

            <li class="navigation__item--dropdown">
              <a href="#products" class="navigation__link" data-page="products">
                Products <i class="ri-arrow-down-s-line"></i>
              </a>
              <ul class="navigation__dropdown">
                <li>
                  <a href="#" class="navigation__dropdown-link">Product 1</a>
                </li>
                <li>
                  <a href="#" class="navigation__dropdown-link">Product 2</a>
                </li>
                <li>
                  <a href="#" class="navigation__dropdown-link">Product 3</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- Contact Button -->
        <div class="navigation__contact">
          <a href="#contactus" class="contact-btn" data-page="contactus"
            >Contact</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="overlay"></div>
